#homeassistant  # Stelle sicher, dass du die passende Version verwendest
homeassistant-core
aiohttp  # Für asynchrone HTTP-Anfragen
aiofiles  # Für asynchrone Dateioperationen
pytest  # zum testen
pytest-asyncio # zum testen
coverage
pytest-cov # zur Messung der Testabdeckung
pytest-homeassistant-custom-component   # zum testen