homeassistant  # Stelle sicher, dass du die passende Version verwendest
aiohttp  # Für asynchrone HTTP-Anfragen
aiofiles  # Für asynchrone Dateioperationen
pytest  # zum testen
pytest-homeassistant-custom-component   # zum testen